<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" >
        <title>Servicios Salud - Registrate!</title>


        <style>
            body {
                padding: 5px;
                background-image: url("estetoscopio.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        </style>
    </head>
    <body>






        <div class="container-fluid m-5 contenedor">

            <form class="formulario" th:action="@{/registro}" method="POST" enctype="multipart/form-data">


                <div class="form-group my-3">
                    <h3 class="card-title">Registrarse como Paciente</h3>
                </div><br>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="nombre" placeholder="NOMBRE" th:value="${nombre}">
                </div><br>
                <div class="form-group my-3">
                    <input type="email" class="form-control" name="email" placeholder="EMAIL" th:value="${email}">
                </div><br>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="dni" placeholder="DNI" th:value="${dni}">
                </div>
                <br>
                <div class="form-group my-3">
                    <label for="obraSocial">¿Tiene obra social?</label>
                    <select class="form-control" name="obraSocial">
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <br>
                <div class="form-group my-3">
                    <input type="file" class="form-control" name="archivo" >
                </div>
                <br>
                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password" placeholder="CONTRASEÑA" th:value="${password}">
                </div><br>
                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password2" placeholder="REPETIR CONTRASEÑA" th:value="${password2}">
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-primary mt-3 botones">Registrarme</button>
            </form>
            <section class=" text-center container">
                <div class="row mt-3"><br>
                    <div class="divVolver">
                        <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
            </section>
        </div>


    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>